# Node.js dependencies
node_modules
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build output
.vercel
.netlify

# Editor/IDE files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db
